<p id="notice"><%= notice %></p>
<%= link_to 'New Event', new_event_path, class: "w3-button" %>
<h1>Upcoming Events</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Title</th>
      <th>Date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Event.upcoming_events.each do |event| %>
    <div class="w3-card-4">
      <div class="w3-container w3-center w3-blue">
      <tr>
        <div class="w3-container w3-blue">
          <td><%= event.creator.username %></td>
        </div>
        <div class="w3-container">
          <td><%= event.title %></td>
        </div>
        <div class="w3-container">
          <td><%= event.date %></td>
        </div>
        <div class="w3-container">
          <td><%= event.description %></td>
        </div>
        <div class="w3-container">
          <td><%= link_to 'Details', event, class: "w3-button" %></td>
          <% if cookies[:id] && User.find(cookies[:id]) == event.creator %>

            <td><%= link_to 'Edit', edit_event_path(event), class: "w3-button" %></td>
            <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-button" %></td>
          <% end %>
        </div>
      </tr>
      </div>
    </div>
    <% end %>
  </tbody>
</table>

<br>

<h1>Past Events</h1>

<table>
  <thead>
    <tr>
      <th>Creator</th>
      <th>Title</th>
      <th>Date</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Event.previous_events.each do |event| %>
    <div class="w3-card-4">
      <div class="w3-container w3-center w3-blue">
      <tr>
        <div class="w3-container w3-blue">
          <td><%= event.creator.username %></td>
        </div>
        <div class="w3-container">
          <td><%= event.title %></td>
        </div>
        <div class="w3-container">
          <td><%= event.date %></td>
        </div>
        <div class="w3-container">
          <td><%= event.description %></td>
        </div>
        <div class="w3-container">
          <td><%= link_to 'Details', event, class: "w3-button" %></td>
          <% if cookies[:id] && User.find(cookies[:id]) == event.creator %>

            <td><%= link_to 'Edit', edit_event_path(event), class: "w3-button" %></td>
            <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-button" %></td>
          <% end %>
        </div>
      </tr>
      </div>
    </div>
    <% end %>
  </tbody>
</table>

<br>

