<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if session[:id].nil? %>
      <%= link_to "Log In", login_path %><br />
    <% else %>
      <%= "Logged in as #{User.find(session[:id]).username}"%>
      <%= link_to "Log Out", logout_path %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
